ul {
  list-style-type: circle;
}

.head-container {
  /* border: 2px solid red; */
  align-items: flex-end;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 36px 0 16px 0;
}

.section {
  margin-top: 24px;
}

.header {
  text-align: left;
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--navy);
  border-left: 8px solid var(--light-peach);
  margin: 8px 0;
  padding-left: 8px;
}

.links {
  margin-top: 16px;
}

.table {
  margin: 16px 0;
}

#greeting {
  font-family: 'Dancing Script', cursive;
  font-size: 3rem;
  color: #1b2d45;
  /* border: 2px solid blue; */
}

#contact {
  padding-right: 16px;
  text-align: right;
  /* border: 2px solid green; */
}

#admin-links {
  margin-top: 8px;
}

.cs61b-container {
  height: 70vh;
}