@import url('https://fonts.googleapis.com/css?family=Dancing+Script&display=swap');

img {
  width: 100%;
  padding: 0 10%;
}

p {
  margin: 0 20px 12px 20px;
}

.portfolio-btn {
  background: var(--navy);
  border: none;
  margin: 20px;
  margin-top: 0;
  font-weight: 500;
  padding: 4px 8px;
  display: none;
}

.portfolio-btn:hover {
  background-color: var(--peach);
}

.photo-icon {
  font-size: 24px;
  margin-right: 8px;
}

.profile {
  margin: auto;
}

.home-container {
  padding: 8% 0;
}

.social {
  margin: auto;
  margin-top: 5%;
  justify-content: center;
  font-size: 3rem;
}

.social-link {
  margin: 0 8px;
  color: var(--light-peach);
}

.social-link:hover {
  color: var(--peach);
}

.arrow {
  display: none;
  font-size: 2.2rem;
  position: absolute;
  left: 50%;
  margin-top: 4%;
  opacity: 0.5;
  color: var(--peach);
  transition: font-size 0.5s;
}

.arrow:hover {
  opacity: 0.8;
  font-size: 3rem;
}

.cs61b-link {
  background-color: #d1eeee;
  padding: 2px 4px;
}

.cs61b-link:hover {
  background-color: #b2d5d6;
  cursor: pointer;
}

#hello {
  font-family: 'Dancing Script', cursive;
  font-size: 3rem;
  margin-bottom: 0;
  color: #1b2d45;
}

#space {
  height: 8px;
}

#cs61b-link {
  border-left: 6px solid var(--light-blue);
  color: var(--navy);
  font-size: 20px;
  font-weight: 500;
  padding-left: 8px;
  transition: margin-left 0.5s;
}

#cs61b-link:hover {
  cursor: pointer;
  margin-left: 32px;
  text-decoration: underline;
}

#cs61b-arrow {
  margin-left: 4px;
}

@media (max-height: 800px) and (min-width: 1300px) {
  .home-container {
    min-height: 78vh;
  }

  .arrow {
    display: block;
  }
}
